In [1]:
# Inherited: `data` 
#%run "C:\Users\Asus\Desktop\Coding\API_Flask\side_BenckMark\embedding_Workspace\bench\2_Preprocess.ipynb" 

import dill
# Load session 
dill.load_session('3_Process.pkl')

In [2]:
data.head(2)

,Unnamed: 0,ProductId,UserId,Score,Summary,Text,combined,n_tokens,embedding,review_Embedding,...,Similarity_Score_Manhattan,Similarity_Score_Minkowski,Similarity_Score_Pearson,Similarity_Score_Canberra,predicted_labels_Cosine,predicted_labels_Euclidean,predicted_labels_Manhattan,predicted_labels_Minkowski,predicted_labels_Pearson,predicted_labels_Canberra
0,0,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...,52,"[0.007018072064965963, -0.02731654793024063, 0...","[0.007018072064965963, -0.02731654793024063, 0...",...,"{'positive': 0.04223431170447322, 'negative': ...","{'positive': 0.7977515362933507, 'negative': 0...","{'positive': 0.7331406124853141, 'negative': 0...","{'positive': 0.0010920402233634077, 'negative'...",positive,positive,positive,positive,positive,positive
1,297,B003VXHGPK,A21VWSCGW7UUAR,4,"Good, but not Wolfgang Puck good","Honestly, I have to admit that I expected a li...","Title: Good, but not Wolfgang Puck good; Conte...",178,"[-0.003140551969408989, -0.009995664469897747,...","[-0.003140551969408989, -0.009995664469897747,...",...,"{'positive': 0.043106480295168635, 'negative':...","{'positive': 0.8006567536487722, 'negative': 0...","{'positive': 0.7422480686825726, 'negative': 0...","{'positive': 0.001109027814397002, 'negative':...",negative,negative,negative,positive,negative,negative

---
### `Report`

#### `Process:` Counts

In [3]:
# Count values 
count_Cosine    = data["predicted_labels_Cosine"].value_counts() 
count_Euclidean = data["predicted_labels_Euclidean"].value_counts() 
count_Manhattan = data["predicted_labels_Manhattan"].value_counts() 
count_Minkowski = data["predicted_labels_Minkowski"].value_counts()  
count_Pearson = data["predicted_labels_Pearson"].value_counts()  
count_Canberra = data["predicted_labels_Canberra"].value_counts()  
# Total
count_Combined  = pd.DataFrame({"Cosine": count_Cosine.values,       "Euclidean": count_Euclidean.values, 
                                "Manhattan": count_Manhattan.values, "Minkowski": count_Minkowski.values, 
                                "Pearson": count_Pearson,            "Canberra": count_Canberra}, index = list(count_Cosine.index))
## Add sum row to the end of the dataframe
count_Combined.loc['Total',:]= count_Combined.sum(axis=0)

#### `Process:` Means

In [4]:
# Mean Values
mean_Cosine, mean_Euclidean, mean_Manhattan, mean_Minkowski, mean_Pearson, mean_Canberra = [], [], [], [], [], [] 
for label in current_Labels: 
    mean_Cosine.append( data["Similarity_Score_Cosine"].apply(lambda x: x[label]).mean() ) 
    mean_Euclidean.append( data["Similarity_Score_Euclidean"].apply(lambda x: x[label]).mean() ) 
    mean_Manhattan.append( data["Similarity_Score_Manhattan"].apply(lambda x: x[label]).mean() ) 
    mean_Minkowski.append( data["Similarity_Score_Minkowski"].apply(lambda x: x[label]).mean() ) 
    mean_Pearson.append( data["Similarity_Score_Pearson"].apply(lambda x: x[label]).mean() )  
    mean_Canberra.append( data["Similarity_Score_Canberra"].apply(lambda x: x[label]).mean() )  
# Combined 
mean_Combined = pd.DataFrame({"Cosine": mean_Cosine,       "Euclidean": mean_Euclidean, 
                              "Manhattan": mean_Manhattan, "Minkowski": mean_Minkowski, 
                              "Pearson": mean_Pearson,     "Canberra": mean_Canberra, 
                              }, index = list(current_Labels))
## Add sum row to the end of the dataframe
mean_Combined.loc['Total',:]= mean_Combined.mean(axis=0)

#### `Process:` Precision, Recall, F1, Support

In [5]:
titles = create_Report("predicted_labels_Cosine")['title'].tolist()

In [6]:
create_Report("predicted_labels_Cosine")

      title  precision  recall    f1  support
0  negative       0.61    0.88  0.72      136
1  positive       0.98    0.90  0.94      789

In [7]:
report_Cosine = create_Report("predicted_labels_Cosine")   
report_Cosine['title'] = ['Cosines: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Cosine.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Cosine.loc[len(report_Cosine)] = temp

In [8]:
report_Minkowski = create_Report("predicted_labels_Minkowski")   
report_Minkowski['title'] = ['Minkowski: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Minkowski.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Minkowski.loc[len(report_Minkowski)] = temp

In [9]:
report_Manhattan = create_Report("predicted_labels_Manhattan")   
report_Manhattan['title'] = ['Manhattan: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Manhattan.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Manhattan.loc[len(report_Manhattan)] = temp

In [10]:
report_Euclidean = create_Report("predicted_labels_Euclidean")   
report_Euclidean['title'] = ['Euclidean: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Euclidean.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Euclidean.loc[len(report_Euclidean)] = temp

In [11]:
report_Pearson = create_Report("predicted_labels_Pearson")   
report_Pearson['title'] = ['Pearson: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Pearson.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Pearson.loc[len(report_Pearson)] = temp

In [12]:
report_Canberra = create_Report("predicted_labels_Canberra")   
report_Canberra['title'] = ['Canberra: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Canberra.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Canberra.loc[len(report_Canberra)] = temp

In [13]:
top = pd.concat([report_Cosine, report_Minkowski], axis=1) 
bottom = pd.concat([report_Manhattan, report_Euclidean], axis=1) 
bottom2 = pd.concat([report_Pearson, report_Canberra], axis=1) 
combined = pd.concat([top, bottom], axis=0) 
combined = pd.concat([combined, bottom2], axis=0)

#### `Process:` Accuracy, Macro Avg, Weighted Avg

In [14]:
titles_2 = extract_summary_metrics("predicted_labels_Cosine")['title'].tolist()

In [15]:
extract_summary_metrics("predicted_labels_Cosine")

          title  precision  recall    f1  support
0      accuracy        NaN     NaN   NaN      NaN
1     macro avg     925.00     NaN   NaN      NaN
2  weighted avg       0.79    0.89  0.83    925.0

In [16]:
report_2_Cosine             = extract_summary_metrics("predicted_labels_Cosine") 
report_2_Cosine['title']    = ['Cosine: ' + x for x in report_2_Cosine['title'] ] 
report_2_Minkowski          = extract_summary_metrics("predicted_labels_Minkowski") 
report_2_Minkowski['title'] = ['Minkowski: ' + x for x in report_2_Cosine['title'] ] 
report_2_Manhattan          = extract_summary_metrics("predicted_labels_Manhattan") 
report_2_Manhattan['title'] = ['Manhattan: ' + x for x in report_2_Cosine['title'] ] 
report_2_Euclidean          = extract_summary_metrics("predicted_labels_Euclidean") 
report_2_Euclidean['title'] = ['Euclidean: ' + x for x in report_2_Cosine['title'] ] 
report_2_Pearson            = extract_summary_metrics("predicted_labels_Pearson") 
report_2_Pearson['title']   = ['Pearson: ' + x for x in report_2_Cosine['title'] ] 
report_2_Canberra           = extract_summary_metrics("predicted_labels_Canberra") 
report_2_Canberra['title']  = ['Canberra: ' + x for x in report_2_Cosine['title'] ]

In [17]:
top = pd.concat([report_2_Cosine, report_2_Minkowski], axis=1) 
bottom = pd.concat([report_2_Manhattan, report_2_Euclidean], axis=1) 
bottom2 = pd.concat([report_2_Pearson, report_2_Canberra], axis=1) 
combined_2 = pd.concat([top, bottom], axis=0) 
combined_2 = pd.concat([combined_2, bottom2], axis=0) 
combined_2.columns = (['title'] + titles_2 + ['X']) * 2

---
### `Result`

In [18]:
mean_Combined

            Cosine  Euclidean  Manhattan  Minkowski   Pearson  Canberra
positive  0.737150   0.579831   0.042422   0.799775  0.736932  0.001087
negative  0.729144   0.576163   0.041937   0.797066  0.728925  0.001085
Total     0.733147   0.577997   0.042180   0.798420  0.732928  0.001086

In [19]:
count_Combined

          Cosine  Euclidean  Manhattan  Minkowski  Pearson  Canberra
positive   727.0      727.0      701.0      738.0    727.0     553.0
negative   198.0      198.0      224.0      187.0    198.0     372.0
Total      925.0      925.0      925.0      925.0    925.0     925.0

In [20]:
print("Changed")

Changed

In [21]:
combined

,title,precision,recall,f1,support,title,precision,recall,f1,support
0,Cosines: positive,0.610,0.88,0.72,136.0,Minkowski: positive,0.650,0.890,0.75,136.0
1,Cosines: negative,0.980,0.90,0.94,789.0,Minkowski: negative,0.980,0.920,0.95,789.0
2,Total,0.795,0.89,0.83,462.5,Total,0.815,0.905,0.85,462.5
0,Manhattan: positive,0.510,0.84,0.63,136.0,Euclidean: positive,0.610,0.880,0.72,136.0
1,Manhattan: negative,0.970,0.86,0.91,789.0,Euclidean: negative,0.980,0.900,0.94,789.0
2,Total,0.740,0.85,0.77,462.5,Total,0.795,0.890,0.83,462.5
0,Pearson: positive,0.610,0.88,0.72,136.0,Canberra: positive,0.340,0.920,0.49,136.0
1,Pearson: negative,0.980,0.90,0.94,789.0,Canberra: negative,0.980,0.690,0.81,789.0
2,Total,0.795,0.89,0.83,462.5,Total,0.660,0.805,0.65,462.5

In [22]:
combined_2

,title,accuracy,macro avg,weighted avg,X,title,accuracy,macro avg,weighted avg,X
0,Cosine: accuracy,NaN,NaN,NaN,NaN,Minkowski: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Cosine: macro avg,925.00,NaN,NaN,NaN,Minkowski: Cosine: macro avg,925.00,NaN,NaN,NaN
2,Cosine: weighted avg,0.79,0.89,0.83,925.0,Minkowski: Cosine: weighted avg,0.81,0.90,0.85,925.0
0,Manhattan: Cosine: accuracy,NaN,NaN,NaN,NaN,Euclidean: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Manhattan: Cosine: macro avg,925.00,NaN,NaN,NaN,Euclidean: Cosine: macro avg,925.00,NaN,NaN,NaN
2,Manhattan: Cosine: weighted avg,0.74,0.85,0.77,925.0,Euclidean: Cosine: weighted avg,0.79,0.89,0.83,925.0
0,Pearson: Cosine: accuracy,NaN,NaN,NaN,NaN,Canberra: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Pearson: Cosine: macro avg,925.00,NaN,NaN,NaN,Canberra: Cosine: macro avg,925.00,NaN,NaN,NaN
2,Pearson: Cosine: weighted avg,0.79,0.89,0.83,925.0,Canberra: Cosine: weighted avg,0.66,0.80,0.65,925.0

---
### `Checkpoint`

In [23]:
import dill

# Save the entire session
dill.dump_session('4_Results.pkl')  
# Actialize the session
#dill.load_session('session.pkl')