In [1]:
# Inherited: `data` 
#%run "C:\Users\Asus\Desktop\Coding\API_Flask\side_BenckMark\embedding_Workspace\bench\2_Preprocess.ipynb" 

import dill
# Load session 
dill.load_session('3_Process.pkl')

---
### `Report`

#### `Process:` Counts

In [2]:
# Count values 
count_Cosine    = data["predicted_labels_Cosine"].value_counts() 
count_Euclidean = data["predicted_labels_Euclidean"].value_counts() 
count_Manhattan = data["predicted_labels_Manhattan"].value_counts() 
count_Minkowski = data["predicted_labels_Minkowski"].value_counts()  
count_Pearson = data["predicted_labels_Pearson"].value_counts()  
count_Canberra = data["predicted_labels_Canberra"].value_counts()  
# Total
count_Combined  = pd.DataFrame({"Cosine": count_Cosine.values,       "Euclidean": count_Euclidean.values, 
                                "Manhattan": count_Manhattan.values, "Minkowski": count_Minkowski.values, 
                                "Pearson": count_Pearson,            "Canberra": count_Canberra}, index = list(count_Cosine.index))
## Add sum row to the end of the dataframe
count_Combined.loc['Total',:]= count_Combined.sum(axis=0)

#### `Process:` Means

In [3]:
# Mean Values
mean_Cosine, mean_Euclidean, mean_Manhattan, mean_Minkowski, mean_Pearson, mean_Canberra = [], [], [], [], [], [] 
for label in target_Column: 
    mean_Cosine.append( data["Similarity_Score_Cosine"].apply(lambda x: x[label]).mean() ) 
    mean_Euclidean.append( data["Similarity_Score_Euclidean"].apply(lambda x: x[label]).mean() ) 
    mean_Manhattan.append( data["Similarity_Score_Manhattan"].apply(lambda x: x[label]).mean() ) 
    mean_Minkowski.append( data["Similarity_Score_Minkowski"].apply(lambda x: x[label]).mean() ) 
    mean_Pearson.append( data["Similarity_Score_Pearson"].apply(lambda x: x[label]).mean() )  
    mean_Canberra.append( data["Similarity_Score_Canberra"].apply(lambda x: x[label]).mean() )  
# Combined 
mean_Combined = pd.DataFrame({"Cosine": mean_Cosine,       "Euclidean": mean_Euclidean, 
                              "Manhattan": mean_Manhattan, "Minkowski": mean_Minkowski, 
                              "Pearson": mean_Pearson,     "Canberra": mean_Canberra, 
                              }, index = list(current_Labels))
## Add sum row to the end of the dataframe
mean_Combined.loc['Total',:]= mean_Combined.mean(axis=0)

#### `Process:` Precision, Recall, F1, Support

In [4]:
titles = create_Report("predicted_labels_Cosine")['title'].tolist()

In [5]:
report_Cosine = create_Report("predicted_labels_Cosine")   
report_Cosine['title'] = ['Cosines: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Cosine.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Cosine.loc[len(report_Cosine)] = temp

In [6]:
report_Minkowski = create_Report("predicted_labels_Minkowski")   
report_Minkowski['title'] = ['Minkowski: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Minkowski.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Minkowski.loc[len(report_Minkowski)] = temp

In [7]:
report_Manhattan = create_Report("predicted_labels_Manhattan")   
report_Manhattan['title'] = ['Manhattan: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Manhattan.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Manhattan.loc[len(report_Manhattan)] = temp

In [8]:
report_Euclidean = create_Report("predicted_labels_Euclidean")   
report_Euclidean['title'] = ['Euclidean: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Euclidean.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Euclidean.loc[len(report_Euclidean)] = temp

In [9]:
report_Pearson = create_Report("predicted_labels_Pearson")   
report_Pearson['title'] = ['Pearson: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Pearson.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Pearson.loc[len(report_Pearson)] = temp

In [10]:
report_Canberra = create_Report("predicted_labels_Canberra")   
report_Canberra['title'] = ['Canberra: ' + x for x in current_Labels]
# Add total row to the end of the dataframe
temp = report_Canberra.iloc[:,1:].mean(axis=0) 
temp = ['Total'] + list (temp)  
# Add temp to the end of the dataframe as a row
report_Canberra.loc[len(report_Canberra)] = temp

In [11]:
top = pd.concat([report_Cosine, report_Minkowski], axis=1) 
bottom = pd.concat([report_Manhattan, report_Euclidean], axis=1) 
bottom2 = pd.concat([report_Pearson, report_Canberra], axis=1) 
combined = pd.concat([top, bottom], axis=0) 
combined = pd.concat([combined, bottom2], axis=0)

#### `Process:` Accuracy, Macro Avg, Weighted Avg

In [12]:
titles_2 = extract_summary_metrics("predicted_labels_Cosine")['title'].tolist()

In [13]:
report_2_Cosine             = extract_summary_metrics("predicted_labels_Cosine") 
report_2_Cosine['title']    = ['Cosine: ' + x for x in report_2_Cosine['title'] ] 
report_2_Minkowski          = extract_summary_metrics("predicted_labels_Minkowski") 
report_2_Minkowski['title'] = ['Minkowski: ' + x for x in report_2_Cosine['title'] ] 
report_2_Manhattan          = extract_summary_metrics("predicted_labels_Manhattan") 
report_2_Manhattan['title'] = ['Manhattan: ' + x for x in report_2_Cosine['title'] ] 
report_2_Euclidean          = extract_summary_metrics("predicted_labels_Euclidean") 
report_2_Euclidean['title'] = ['Euclidean: ' + x for x in report_2_Cosine['title'] ] 
report_2_Pearson            = extract_summary_metrics("predicted_labels_Pearson") 
report_2_Pearson['title']   = ['Pearson: ' + x for x in report_2_Cosine['title'] ] 
report_2_Canberra           = extract_summary_metrics("predicted_labels_Canberra") 
report_2_Canberra['title']  = ['Canberra: ' + x for x in report_2_Cosine['title'] ]

In [14]:
top = pd.concat([report_2_Cosine, report_2_Minkowski], axis=1) 
bottom = pd.concat([report_2_Manhattan, report_2_Euclidean], axis=1) 
bottom2 = pd.concat([report_2_Pearson, report_2_Canberra], axis=1) 
combined_2 = pd.concat([top, bottom], axis=0) 
combined_2 = pd.concat([combined_2, bottom2], axis=0) 
combined_2.columns = (['title'] + titles_2 + ['X']) * 2

---
### `Result`

In [15]:
mean_Combined

                Cosine  Euclidean  Manhattan  Minkowski   Pearson  Canberra
Outstanding   0.713344   0.569281   0.040725   0.792713  0.713119  0.001046
Pleasant      0.725019   0.574449   0.041640   0.795931  0.724804  0.001068
Regretful     0.746609   0.584303   0.043029   0.803310  0.746399  0.001090
Dissatisfied  0.742251   0.582350   0.042816   0.801636  0.742046  0.001081
Neutral       0.748272   0.585305   0.043474   0.803134  0.748066  0.001092
Total         0.735099   0.579138   0.042337   0.799345  0.734887  0.001075

In [16]:
count_Combined

              Cosine  Euclidean  Manhattan  Minkowski  Pearson  Canberra
Outstanding    457.0      457.0      497.0      434.0    457.0     412.0
Neutral        334.0      334.0      264.0      377.0    334.0     360.0
Pleasant       144.0      144.0      151.0      134.0    144.0     121.0
Dissatisfied    58.0       58.0       81.0       48.0     58.0     106.0
Regretful        7.0        7.0        7.0        7.0      7.0       1.0
Total         1000.0     1000.0     1000.0     1000.0   1000.0    1000.0

In [17]:
combined

,title,precision,recall,f1,support,title,precision,recall,f1,support
0,Cosines: Outstanding,0.310,0.37,0.340,49.0,Minkowski: Outstanding,0.290,0.290,0.290,49.0
1,Cosines: Pleasant,0.120,0.55,0.200,75.0,Minkowski: Pleasant,0.120,0.680,0.200,75.0
2,Cosines: Regretful,0.820,0.57,0.670,651.0,Minkowski: Regretful,0.850,0.490,0.620,651.0
3,Cosines: Dissatisfied,0.230,0.24,0.230,138.0,Minkowski: Dissatisfied,0.190,0.190,0.190,138.0
4,Cosines: Neutral,0.290,0.02,0.040,87.0,Minkowski: Neutral,0.290,0.020,0.040,87.0
5,Total,0.354,0.35,0.296,200.0,Total,0.348,0.334,0.268,200.0
0,Manhattan: Outstanding,0.270,0.45,0.340,49.0,Euclidean: Outstanding,0.310,0.370,0.340,49.0
1,Manhattan: Pleasant,0.130,0.47,0.210,75.0,Euclidean: Pleasant,0.120,0.550,0.200,75.0
2,Manhattan: Regretful,0.820,0.62,0.710,651.0,Euclidean: Regretful,0.820,0.570,0.670,651.0
3,Manhattan: Dissatisfied,0.220,0.24,0.230,138.0,Euclidean: Dissatisfied,0.230,0.240,0.230,138.0
4,Manhattan: Neutral,0.290,0.02,0.040,87.0,Euclidean: Neutral,0.290,0.020,0.040,87.0
5,Total,0.346,0.36,0.306,200.0,Total,0.354,0.350,0.296,200.0
0,Pearson: Outstanding,0.310,0.37,0.340,49.0,Canberra: Outstanding,0.220,0.470,0.300,49.0
1,Pearson: Pleasant,0.120,0.55,0.200,75.0,Canberra: Pleasant,0.110,0.530,0.180,75.0
2,Pearson: Regretful,0.820,0.57,0.670,651.0,Canberra: Regretful,0.820,0.520,0.640,651.0
3,Pearson: Dissatisfied,0.230,0.24,0.230,138.0,Canberra: Dissatisfied,0.140,0.120,0.130,138.0
4,Pearson: Neutral,0.290,0.02,0.040,87.0,Canberra: Neutral,1.000,0.010,0.020,87.0
5,Total,0.354,0.35,0.296,200.0,Total,0.458,0.330,0.254,200.0

In [18]:
combined_2

,title,accuracy,macro avg,weighted avg,X,title,accuracy,macro avg,weighted avg,X
0,Cosine: accuracy,NaN,NaN,NaN,NaN,Minkowski: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Cosine: macro avg,1000.00,NaN,NaN,NaN,Minkowski: Cosine: macro avg,1000.00,NaN,NaN,NaN
2,Cosine: weighted avg,0.35,0.35,0.3,1000.0,Minkowski: Cosine: weighted avg,0.35,0.33,0.27,1000.0
0,Manhattan: Cosine: accuracy,NaN,NaN,NaN,NaN,Euclidean: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Manhattan: Cosine: macro avg,1000.00,NaN,NaN,NaN,Euclidean: Cosine: macro avg,1000.00,NaN,NaN,NaN
2,Manhattan: Cosine: weighted avg,0.35,0.36,0.3,1000.0,Euclidean: Cosine: weighted avg,0.35,0.35,0.30,1000.0
0,Pearson: Cosine: accuracy,NaN,NaN,NaN,NaN,Canberra: Cosine: accuracy,NaN,NaN,NaN,NaN
1,Pearson: Cosine: macro avg,1000.00,NaN,NaN,NaN,Canberra: Cosine: macro avg,1000.00,NaN,NaN,NaN
2,Pearson: Cosine: weighted avg,0.35,0.35,0.3,1000.0,Canberra: Cosine: weighted avg,0.46,0.33,0.25,1000.0

---
### `Checkpoint`

In [19]:
import dill

# Save the entire session
dill.dump_session('4_Results.pkl')  
# Actialize the session
#dill.load_session('session.pkl')